<div class="card">
    <h2>{{ jsonData?.name }} - HP : {{ jsonData?.hit_die}}</h2>

    <section>
        <h3>Proficiencies options</h3>
        <p>*{{ jsonData?.proficiency_choices[0].desc}}</p>
        <ul>
            @for (option of jsonData?.proficiency_choices[0].from.options; track $index) {
            <li>
                {{ option.item.name }}
            </li>
            }
        </ul>
    </section>

    <section>
        <h3>Proficiencies</h3>
        <div>
            <ul>
                @for (option of jsonData?.proficiencies; track $index) {
                <li>
                    {{option.name}}
                </li>
                }
            </ul>
        </div>
    </section>

    <section>
        <h3>Saving Throws</h3>
        <ul>
            @for (option of jsonData?.saving_throws; track $index) {
            <li>
                {{option.name}}
            </li>
            }
        </ul>
    </section>

    <section>
        <h3>Subclasses</h3>
        <ul>
            @for (option of jsonData?.subclasses; track $index) {
            <li>
                {{option.name}}
            </li>
            }
        </ul>
    </section>

    @if (jsonData?.spellcasting?.level !== null) {
    <section>
        <h3>Spellcasting (Level {{ jsonData?.spellcasting?.level }})</h3>
        <p><strong>Spellcasting Ability:</strong> {{ jsonData?.spellcasting?.spellcasting_ability?.name }}</p>

        <div>
            <h4> Info </h4>
            <ul>
                @for (option of jsonData?.spellcasting?.info; track $index) {
                <li>
                    <strong>{{option.name}}</strong>: {{option.desc}}
                </li>
                }
            </ul>
        </div>
    </section>
    }
</div>